src/conf/xml-resources/web-service-references/tripService/wsdl/localhost_8080/SupRail/tripService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.suprails.supinfo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.suprails.supinfo.com/">

<xs:element name="customer" type="tns:customer"/>

<xs:element name="customerOrder" type="tns:customerOrder"/>

<xs:element name="getTrips" type="tns:getTrips"/>

<xs:element name="getTripsResponse" type="tns:getTripsResponse"/>

<xs:element name="processCustomerOrder" type="tns:processCustomerOrder"/>

<xs:element name="processCustomerOrderResponse" type="tns:processCustomerOrderResponse"/>

<xs:complexType name="processCustomerOrder">
<xs:sequence>
<xs:element name="arg0" type="tns:customerOrder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerOrder">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="trip" type="tns:trip" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trip">
<xs:sequence>
<xs:element name="arrivalStation" type="tns:trainStation" minOccurs="0"/>
<xs:element name="departureStation" type="tns:trainStation" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainStation">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processCustomerOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTrips">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTripsResponse">
<xs:sequence>
<xs:element name="return" type="tns:trip" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>